Options +FollowSymLinks -Indexes

<IfModule mod_rewrite.c>

	RewriteEngine on
	RewriteBase /
	
	RewriteCond %{HTTPS} off
	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
	
	RewriteCond %{HTTPS_HOST} ^www.rickmacgillis.com$ [NC]
	RewriteRule ^(.*)$ https://rickmacgillis.com/$1 [R=301,L]
	

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)/?$ index.php?page=$1 [NC]

</IfModule>

ErrorDocument 404 /404